/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/css/all.css';
@import 'aos/dist/aos.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
